# ignore backup dir
src/backup/
# ignore fpc makefiles
Makefile
Makefile.fpc
Makefile.fpcxxx
# ignore build dir
src/units/
src/ccdciel.app/
src/ccdciel.dSYM/
src/ccdciel.lps
component/bgrabitmap/lib/
component/indiclient/lib/
component/enhedits/lib/
component/lib/
component/synapse/source/lib/lib/
component/vosamp/lib/
component/xmlparser/lib/
doc/doc/
doc/wiki_doc/
data/language/launchpad/download/
data/language/launchpad/translation/
data/language/launchpad/ccdciel/
data/language/launchpad/ccdcielpot.tar
# ignore binary
*.o
library/wcs/libccdcielwcs.*
src/ccdciel
src/ccdciel.exe
src/ccdciel.dbg
ccdciel*.rpm
ccdciel*.deb
ccdciel*.exe
ccdciel*.zip
ccdciel*.tar.xz
ccdciel*.dmg
