Package: ccdciel-qt6
Version: 3
Section: education
Priority: optional
Maintainer: Patrick Chevalley <pch@ap-i.net>
Architecture: amd64
Installed-Size: %size%
Provides: ccdciel
Conflict: ccdciel
Replaces: ccdciel
Depends: libc6, libqt6pas1, libglib2.0-0, libpasastro, libcfitsio-bin
Recommends: libpasraw, indi-bin, espeak, exiv2
Description: A CCD capture software intended for the amateur astronomer.
 It include all the features required to perform digital imaging CCD observation of celestial objects.
 Using the standard drivers protocol INDI and ASCOM it can connect and control the CCD camera, the focuser, 
 the filter wheel and the telescope mount.
 .
