[Desktop Entry]
Version=1.4
Type=Application
Name=CCDciel
GenericName=Image Acquisition
Comment=A CCD capture application for the amateur astronomer
TryExec=ccdciel
Exec=ccdciel
Icon=ccdciel
Terminal=false
Categories=Science;Astronomy;
